:root {
  --white: #f2fcf0;
  --black: #002d43;
  --s: #005b73;
  --l: #a1af9f;
  --m: #6e7b6c;
  --d: #082c09;
  --success: #2ecc71;
  --error: #e74c3c;
}
* {
  box-sizing: border-box;
}
body,
textarea {
  margin: 0;
  font-family: arial;
  background: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--black);
  margin-block-end: 5px;
}
p {
  font-weight: normal;
  color: var(--d);
  filter: brightness(1.2);
}
a {
  font-weight: bold;
  color: var(--m);
  text-decoration: none;
}
a:hover {
  color: var(--s);
}
a:active {
  color: var(--d);
}

@font-face {
  font-family: 'fa';
  src: url('./fonts/font-awesome/fa-regular-400.woff2');
}
@font-face {
  font-family: 'fas';
  src: url('./fonts/font-awesome/fa-solid-900.woff2');
}
@font-face {
  font-family: 'fab';
  src: url('./fonts/font-awesome/fa-brands-400.woff2');
}

:root {
  --white: #f2fcf0;
  --black: #002d43;
  --s: #005b73;
  --l: #a1af9f;
  --m: #6e7b6c;
  --d: #082c09;
  --success: #2ecc71;
  --error: #e74c3c;
}
* {
  box-sizing: border-box;
}
body,
textarea {
  margin: 0;
  font-family: arial;
  background: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--black);
  margin-block-end: 5px;
}
p {
  font-weight: normal;
  color: var(--d);
  filter: brightness(1.2);
}
a {
  font-weight: bold;
  color: var(--m);
  text-decoration: none;
}
a:hover {
  color: var(--s);
}
a:active {
  color: var(--d);
}
button {
  outline: none;
  cursor: pointer;
}
input {
  outline: none;
  border: unset;
}
textarea:focus,
input:focus {
  outline: none;
}
iframe {
  border: 0;
}
.btn {
  cursor: pointer;
  position: relative;
  outline: 0;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 3px transparent solid;
  background: var(--black);
  color: var(--white);
  transition: background 0.25s ease;
}
.btn:hover {
  box-shadow: 0 0 5px 3px rgba(255, 250, 250, 0.5);
  background: var(--s);
  transition: background 0.25s ease;
}
.btn:active {
  background: var(--black);
  color: var(--k);
}
.btn:focus {
  border: 3px rgba(255, 250, 250, 0.75) solid;
}

.fa {
  font-family: 'fa';
}
.fas {
  font-family: 'fas';
}
.fab {
  font-family: 'fab';
}

::-webkit-scrollbar {
  height: 10px;
  width: 13px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background: var(--s);
  border-radius: 6px;
  transition: color 0.5s ease;
}
::-webkit-scrollbar-track {
  background: var(--white);
  filter: invert();
  border-radius: 6px;
}
::-webkit-scrollbar-corner {
  opacity: 0;
}

/* ///////////////////////////////// */
/* TRANSITIONS */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.list-column-enter-active,
.list-column-leave-active {
  position: absolute;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.list-column-move {
  transition: all 0.25s ease;
}

.list-column-enter,
.list-column-leave-to {
  opacity: 0;
  transform: translateX(-40px);
}

.slide-down-enter-active,
.slide-down-leave-active {
  height: 250px;
  overflow: hidden;
  transition: height 0.25s ease;
}
.slide-down-enter,
.slide-down-leave-to {
  overflow: hidden;
  height: 0;
  transition: height 0.25s ease;
}

/* .gush-enter-active,
.gush-leave-active {
  transition: transform 2s;
  transform: translate(100%);
}
.gush-enter,
.gush-leave-to {
  transform: translate(0%);
} */

.gush-enter,
.gush-leave-to {
  transform: translate(0) !important;
}
.gush-enter-to,
.gush-leave {
  transform: translate(100%) !important;
}
.gush-enter-active,
.gush-leave-active {
  transition: transform 0.3s;
}

/* ///////////////////////////////// */
/* HELPERS */
/* FLEX - BASE */
.pos-relative {
  position: relative;
}
.column {
  flex-direction: column;
}
.text-nowrap {
  white-space: nowrap;
}
.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
  flex-wrap: nowrap;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.column {
  flex-direction: column;
}
/* ALIGNMET/CONTENT */
.jcc {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: flex-end;
}
.aic {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.self-center {
  align-self: center;
}
/* FLEX-GROW */
.flex-1 {
  flex-grow: 1;
}
.flex-2 {
  flex-grow: 2;
}
.flex-4 {
  flex-grow: 4;
}
.flex-8 {
  flex-grow: 8;
}
.fit-cover {
  object-fit: cover;
}

/* General: */

.bold {
  font-weight: bold;
}

.success {
  background-color: var(--success);
}

.debug {
  outline: 2px solid black;
  background-color: burlywood;
}
