/* General Components */
@import url('base.css');
@import url('cmps/nav-btn.css');
@import url('cmps/delete-btn.css');

/* Header: */
@import url('cmps/header/header.css');
@import url('cmps/header/search.css');

/* Notificaion */
@import url('cmps/notification.css');
/* Keep App */
@import url('apps/keep/main.css');
/* Book App */
@import url('apps/books/books.css');

/* mail imports: */
@import url('apps/mail/main.css');
@import url('apps/mail/mail-control-bar.css');
@import url('apps/mail/mail-nav.css');
@import url('apps/mail/mail-card.css');
@import url('apps/mail/mail-box.cmp.css');

.main-container {
  max-width: 1080px;
  margin: 0 auto;
}
.home-page{
  height:90vh;
  width:100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
