input{
    border-radius: 5px;
    border:3px transparent solid;
    padding:5px;
    color:var(--m);
    background: var(--white);
    outline:none;
}
input::placeholder{
    color:var(--m);
}

input:hover{
    box-shadow: 0 0 5px 3px rgba(255, 250, 250, 0.5);
    font-style: italic;
}
input:hover::placeholder{
    font-style: italic;
}
input:active{
    background:#555;
    color:#ddd;
}
input:active::placeholder{
    color:#ddd;
}

input:focus{
    background: #eee;
    border:3px rgba(255, 250, 250, 0.75) solid;
}
img{
    object-fit: contain;
    height:100%;
    border-radius: 5px;
}
.app{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    position:relative;
    overflow: hidden;
}

/* ///////////////////////////////// */
/* HEADER */
header{
    padding:15px;
    font-size: 1.6rem;
    background:var(--d);
    
}
.logo{
    text-decoration: none;
    color: var(--l);
}
.nav-link{
    text-decoration: none;
    color: var(--l);
    font-size: .8em;
}
.nav-link:hover{
    color:var(--white);
    font-style: italic;
    text-shadow: 0px 0px 10px rgba(221, 221, 221, 1);
}
.nav-link:not(:last-child){
    margin-inline-end: 20px;
}
/* ///////////////////////////////// */
/* HOME PAGE */
.home-page{
    width:100%;
    height:100%;
}
.img-container-splash{
    z-index: -1;
    display: flex;
    height:100%;
    width:100%;
    position:absolute;
}
img.splash{
    width:100%;
    height:100%;
}
.splash-darken{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px) grayscale(.5) ;
}
.home-content{
    font-size: 5em;
    display: flex;
    flex-grow:1;
    height:100%;
    justify-content: center;
    align-items: center;
}
.home-content a{
    color: #ddd;
    text-shadow: #bbb 1px 1px 0px,#aaa 2px 2px 0px,#999 3px 3px 0px,#888 4px 4px 0px,#777 5px 5px 0px,#666 6px 6px 0px, #555 7px 7px 0 ;
    padding:15px;
    border-radius: 5px;
}
.home-content a:hover{
    color: #fff;
    text-shadow: #ddd 1px 1px 5px,#ddd 2px 2px 5px,#ccc 3px 3px 5px,#ccc 4px 4px 5px,#bbb 5px 5px 5px,#bbb 6px 6px 5px, #aaa 7px 7px 5px ;
}
/* ///////////////////////////////// */
/* STORE */
.store{
    overflow-y: auto;
    color:var(--d);
}
.store img{
    height:300px;
    width:200px;
}
.book-list{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

/* ///////////////////////////////// */
/* BOOK PREVIEW */
.book-preview{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width:250px;
    cursor: pointer;
    background: var(--l);
    margin:10px;
    padding:10px;
    border-radius: 5px;
    transition: background .25s ease
}
.book-preview:hover{
    background: var(--white);
    transition: background .25s ease
}
.book-preview::before{
    opacity:0;
    background: rgba(245, 215, 119, 0.2);
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity .25s ease
    
}
:is(.book-preview:hover)::before{
    z-index: 1;
    content:'';
    opacity:1;
    transition: opacity .25s ease, background .25s ease;
}
.book-preview > *:not(:last-child){
    margin-block-end: 5px;
}
/* ///////////////////////////////// */
/* BOOK FILTER */
.book-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--l);
    padding:15px;
    width:50%;
    margin:10px auto;
    border-radius: 5px;
}
.book-filter-form{
    width:50%;
    height:150px;
}
.book-filter .filter-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%;
}
.book-filter .delete-search{
    cursor: pointer;
    user-select: none;
    color:#999;
    position:absolute;
    right:5px;
    font-size:.7em;
    text-align:center;
}
.filter-price > *{
    width:50%;
}
.book-filter input{
    display: flex;
    width:100%;
}

.book-filter label{
    margin-inline-end: 5px;
}
.book-filter label:last-of-type{
    margin-inline-start: 5px;
}
.book-filter h1{
    margin-block-end: 5px;
}
/* ///////////////////////////////// */
/* BOOK ADD */
.book-add{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-add .book-list{
    box-shadow:inset 0 45px 19px -29px rgba(0, 0, 0, 0.5);
    background: rgb(125 158 144);
    border-radius: 0 0 5px 5px;;
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
.book-add .book-preview{
    background: transparent;
    opacity:.5;
}
.book-add .book-preview:hover{
    background: var(--white);
    opacity: 1;
}
.book-add .book-preview:hover::after{
    content:'+';
    z-index: 2;
    transition: background .25s ease;
    position:absolute;
    color:var(--d);
    font-size: 128px;
}
/* ///////////////////////////////// */
/* BOOK DETAILS */
.book-details{
    position:absolute;
    font-size: 1rem;
    display:flex;
    justify-content: space-evenly;
    top:50%;
    transform:translateY(-50%);
    height:60vh;
    width:100%;
}
.book-price{
    position: relative;
}
.book-details .img-container{
    height: 100%;
    display:block;
    justify-content: center;
    align-items: center;
}
.book-details .content{
    margin: 0 20px;
    padding:15px;
    width:30%;
    background: var(--l);
    border-radius: 5px;
}
.book-details h1{
    font-size: 1.5em;
}
.book-veterancy p:first-of-type{
    font-weight: bold;
    color:var(--d);
}
.book-details p{
    font-size: 1.2em;
}
/* ///////////////////////////////// */
.book-reviews{
    width:20%;
    height:100%;
    margin-block-end: 20px;
    padding-inline-start: 8px;
    overflow-y: auto;
    padding-right: 10px;
}
.reviews{
    overflow: visible;
}
.reviews > h1{
    margin-block-end: 15px;
}
.book-review{
    font-size:1rem;
    min-width: 200px;
}
.book-review header .light{
    font-style: italic;
    color:var(--l)
}
.book-review header{
    padding:8px;
    background: var(--d);
    filter:none;
    font-size: 1em;
    border-radius: 5px 5px 0 0 ;
}
.book-review header h1{
    font-size:1em!important;
    color:var(--l);

}

.book-review{
    position:relative;
    font-size:1rem;
    margin-block-end:25px;
}

.review-content pre{
    margin:0;
    margin-block-end: 10px;
    color:var(--d);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    white-space: pre-wrap;
}
.review-content p{
    margin-inline-end: 50px;
}
.review-content > p:last-of-type{
    color:var(--d)
}
.review-content p:last-of-type{
    font-size: .8em;
}
.review-content{
    background: var(--l);
    padding-inline-start: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 5px 5px;
    padding:20px;
}
.delete-review-btn{
    position:absolute;
    background: transparent;

    right:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    transition:filter .25s ease;
}
.delete-review-btn:hover .icon{
    filter:saturate(0) brightness(5);
    transition:filter .25s ease;
}
.delete-review-btn:active{
    background: rgb(112, 18, 18);
}
/* ///////////////////////////////// */
.compose-review{
    overflow: visible;
    margin:15px auto
}
.compose-review input{
    min-width:100%;
    height:55px;
}
.compose-review textarea{
    outline: none;
    background: var(--l);
    color:var(--d);
    width:100%;
    min-height:5em;
    border-radius: 5px;
    border: 3px transparent solid;
    resize: none;
    padding:5px;
}
.compose-review textarea:focus{
    background: var(--white);
}
.compose-review textarea:active{
    border:3px snow solid;
    font-style: italic;
}
.compose-review #review-rating{
    background: var(--l);
    outline:none;
    border-radius: 5px;
    border:3px transparent solid;
}
.compose-review #review-rating:active{
    border:3px snow solid;
    background: var(--white);
}

.compose-review p span{
    font-style: italic;
}
/* ///////////////////////////////// */
.about{
    width:50%;
    margin:0 auto;
    padding:15px;
    border-radius: 5px;
    justify-content: center;
    font-size:1rem;
    margin-block-start: 20px;
    background:var(--l)
}
.about h1{
    font-size:1.5em;
}
.about p{
    font-size: 1.2em;
}
.about a{
    filter:none;
}
/* ///////////////////////////////// */
.user-msg{
    background: #222;
    padding:15px;
    border-radius: 5px;
    position:absolute;
    top:10%;
    left:50%;
    font-size:1.2rem;
    z-index:100;
}
.user-msg.success{
    background:var(--d);
}
.user-msg p{
    color:var(--l);
}

/* ///////////////////////////////// */

.tense{
    color:rgb(95, 25, 25)!important;
}
.calm{
    color: rgb(77, 138, 71)!important;
}
.sale{
    position:absolute;
    color:red;
    border: 3px red solid;
    border-radius: 5px;
    padding:5px;
    right:25px;
    transform: rotateZ(15deg);
}
