.main-note-controls{
    margin-block-start: 20px;
    display:flex;
    position:relative;
    bottom:10px;
}
.note-cntrl-btn{
    transition: none;
    background: transparent;
}
.note-cntrl-btn:hover{
    background: transparent;
}
note-cntrl-btn > *{
    font-size: 16px;
}