.header {
  padding: 10px 20px;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a:not(.text-a) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.header img {
  object-fit: none;
}

.buttons-container-1 {
  margin-inline-end: 200px;
}
.buttons-container-2 {
  margin-inline-start: 200px;
}
.buttons-container > *:not(:last-child) {
  margin-inline-end: 15px;
}

.search-box {
  width: 200px;
}

.header .circle-a {
  border-radius: 50%;
}
.header a:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
