.header {
  padding: 10px 20px;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a:not(.text-a) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.buttons-container-1 {
  margin-inline-end: 200px;
}
.buttons-container-2 {
  margin-inline-start: 200px;
}
.buttons-container > *:not(:last-child) {
  margin-inline-end: 15px;
}

.search-box {
  width: 200px;
}
