/* search box: */

.search-box {
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: var(--black);
  position: relative;
  width: 500px;
}

.search-box input,input::placeholder {
  color:var(--white) !important;
  padding: 0.8rem 0.8rem;
  font-size: 1.2rem;
  background-color: unset;
  border: none;
}
.search-box button {
  background-color: unset;
  outline: unset;
  border: unset;
}

.search-input:active{
  border: none;
  background: var(--m);
}
.search-input:focus{
  border: none;
  background: var(--s);
}

.search-filters-box {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-10%, -50%);
  font-size: 0.8rem;
}

.search-filters-box > button {
  border: 0;
  border-radius: 4px;
  padding: 3px 5px;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: white;
}
.search-filters-box > button:not(:last-child) {
  margin-inline-end: 6px;
}

.search-filters-box p {
  font-size: 0.8rem;
}
.search-filters-a .filter-name {
  margin-inline-end: 0.6rem;
}
.search-btn-icon{
  font-size: 16px;
  margin-inline-end: 8px;
}
