.mail-card {
  padding: 10px 20px;
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 4fr 1fr;
  transition: all 0.3s;
}
.mail-card:hover {
  box-shadow: 0 6px 4px -4px rgb(0 0 0 / 70%);
}

.mail-card > *:not(:last-child) {
  margin-inline-end: 1rem;
}
.card-mail-title {
  color: var(--black);
}

.mail-card button.checked {
  background-color: chartreuse;
}

.mail-card button {
  padding: 0;
}

.mail-card .buttons-box > *:not(:last-child) {
  margin-inline-end: 4px;
}

/* not-readed: */

.mail-card.mail-card.not-readed {
}

.mail-card.not-readed .mail-reciever,
.mail-card.not-readed .card-mail-title,
.mail-card.not-readed .mail-time {
  font-weight: bold;
}
