.nav-btn-wrapper{
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-link{
    color:var(--m);
}
.nav-link:hover{
    color:var(--l);
}
.nab-link:active{
    color:var(--d);
}
.nav-link-inactive{
    cursor: default;
    user-select: none;
    color:var(--black);
}
.nav-link-inactive:hover{
    color:var(--black);
}
.nab-link-inactive:active{
    color:var(--black);
}
.nav-btn{
    width:48px;
    height:48px;
    font-size: 28px;
}
.nav-link-wrapper{
    position: absolute;
    display:flex;
    border-radius: 5px;
    box-shadow: 3px 3px 7px 3px rgba(34, 34, 34, 0.5);
    background: var(--white);
    bottom:-64px;
}
.nav-link-wrapper > *{
    margin: 5px;
    font-size: 32px;
}