@import url('note/note.css');
@import url('note-add/note-add.css');
@import url('note-images/note-images.css');

.keep-app{
    height:100%;
    width:100vw;
}
.keep-app .note-list{
    /* display:flex;
    flex-flow: column wrap; */
    /* width:1040px; */
    margin:0 auto;
    min-height:85vh;
}

.note-list-item{
    display:inline-flex;
    width:500px;
    height:fit-content;
}

.gutter-sizer{width:10%;}