@import url('../note-controls/note-controls.css');


.keep-app .note{
    display: flex;
    flex-flow: column;
    position: relative;
    padding:5px;
    width:45%;
    /* margin:0 auto; */
    margin-block-end: 20px;
    box-shadow: 7px 7px 5px 3px rgba(34, 34, 34, .5);
}
.note-content{
    position:relative;
    display: flex;
    width:100%;
}
.note-text p{
    width:100%;
    min-height: 1em;
    cursor: pointer;
    overflow-wrap: break-word;
    backdrop-filter: brightness(.7);
    padding:5px;
    border-radius: 5px;
    color:inherit;
}

.note-text{
    white-space: pre-wrap;
    resize:none;
    position:relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    border-radius: 5px;
    border:3px transparent solid;
    background: transparent;
    font-size: 1em;
    outline:none;
    transition: box-shadow .25s ease, border .25s ease;
}
.note-content .delete-btn{
    height:12px;
    width: 12px;
}
.note-content-list{
    display: flex;
    flex-flow: column;
    margin:0;
    padding:0;
}
.note-content-list .note-text{
    border:3px var(--white) solid;
    border-width: 3px 0 3px 0;
}
.note .add-btn{
    align-self: center;
}
.note-content-list .note-text:focus{
    border:3px var(--l) solid;
    border-width: 3px 0 3px 0;
}
.note-text:hover{
    box-shadow: 0 0 5px 3px var(--main-color-l);
    transition: box-shadow .25s ease;
}
.note-text:active{
    backdrop-filter: brightness(0.8);
}
.note-text:focus{
    border: 3px var(--main-color-m) solid;
    transition:border .25s ease;
}
.note .btn{
    width:48px;
    height:48px;
}
.note .delete-btn{
    background: transparent;
}

.palette-icon{
    pointer-events: none;
    position:absolute;

    filter:invert()
}
.invert-btn{
    padding:0;
    border:0;
    filter:invert();
}
.note-color-input-wrapper{
    width:100%;
    height:100%;
    border-radius:5px;
}
#note-color{
    width:100%;
    height:100%;
    opacity: 0;
}


/* .add-btn{
    background:var(--m);
    color:#fff!important;
    transition:background .25s ease;
}
.add-btn:hover{
    background:var(--main-color-l);
    transition:background .25s ease;
}
.add-btn:active{
    background:var(--main-color-d);
    transition:background .25s ease
} */