header nav{
    margin-inline-start: 50px;
}

header{
    display: flex;
    justify-content: space-evenly;
    width:100vw;
}

header form{
    /* width:50%; */
}

.search-box{
    /* width:50%; */
}